@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100&display=swap');

* {
    box-sizing: border-box;
  }
  
  
  // när skärmen blir mindre än 700 px blir inputfälten/knappen en column
  @media screen and (max-width: 700px) {
    .input-container {
      display: flex;
      flex-direction: column;
    }
    .input-container input, button, select {
      margin-bottom: 10px;
      text-align: center;
    }
  }
  
  body {
    background-image: url(/images/pengahog.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  
  .center-container {
    background: linear-gradient(90deg,rgba(180,252,178,0.7123891793045343)  0%, rgba(255,145,145,0.7572071064754027) 100%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header-text {
    padding: 20px;
    margin: 10px;
    text-align: center;
    color: rgb(5, 5, 5);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .input-container {
    text-align: center;
    margin-top: 40px; }
  
  h3 {
    text-align: center;
   }
  
  .inkomster {
    text-align: center;
    background-color: rgba(3, 3, 3, 0.514);
    min-width: 20vw;
    margin: 5vw;
    padding: 0px 20px 20px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: white;
  
  }
    // Gör att inkomst-rutan blir grön när man klickar på knappen
    @keyframes para {
      0%   {background-color: rgba(3, 3, 3, 0.226);}
      50%  {background-color:rgb(90, 146, 90);}
      100%  {background-color: rgba(3, 3, 3, 0.226);}
    }
    // Gör att utgifts-rutan blir rödan när man klickar på knappen
    @keyframes nopara {
      0%   {background-color: rgba(3, 3, 3, 0.226);}
      50%  {background-color:rgb(190, 40, 40);}
      100%  {background-color: rgba(3, 3, 3, 0.226);}
    }
  
  
  
  .utgifter {
    text-align: center;
    background-color: rgba(3, 3, 3, 0.514);
    min-width: 20vw;
    margin: 5vw;
    padding: 0px 20px 20px 20px;
    border-radius: 10px; 
    font-family: 'Montserrat', sans-serif;
    color: white;}
  
  
    .besk {
      border-radius: 20px;
      border: 1px;
      padding: 10px;
      background-color: rgb(255, 253, 253);
      color: rgb(3, 3, 3);
      font-family: 'Montserrat', sans-serif;
    }
  

    .besk::placeholder {
      color: rgb(0, 0, 0);
      font-family: 'Montserrat', sans-serif;
    }
  
    .num {
      border-radius: 20px;
      border: 1px;
      padding: 10px;
      background-color:rgb(252, 247, 247);
      color: rgb(3, 3, 3);
      font-family: 'Montserrat', sans-serif;
    }
  
    .num::placeholder {
      color: rgb(3, 3, 3);
      font-family: 'Montserrat', sans-serif;
    }
  
    .output-container {
      display: flex;
      margin: 20px;
    }
  
    .knapp {
      border: none;
      background-color: black;
      border-radius: 20px;
      color: rgb(253, 253, 253);
      padding: 10px;
      transition: 0.2s;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      }
      
      // Knappen blir lite större när man hovrar muspekaren där
    .knapp:hover {
      transform: scale(1.1);
      cursor: pointer; // muspekaren blir en "pointer" när man hovrar
    }
  
    .valjare {
      background-color: rgb(252, 249, 249);
      color: rgb(3, 3, 3);
      padding:10px;
      border-radius: 20px;
      border: none;
      font-family: 'Montserrat', sans-serif;
    }
  
    .sum {
      text-align: center;
    background-color: rgba(3, 3, 3, 0.514);
    min-width: 20vw;
    max-width: 40vw;
    margin-bottom: 20px;
    padding: 0px 20px 20px 20px;
    border-radius: 10px;
    color: rgb(244, 247, 246);
    font-family: 'Montserrat', sans-serif;
    }
  
    .punktBesk {
        list-style-type: none;
        font-weight: 700;
    }

    .punktNum {
        list-style-type: none;
    }
    